<nav class="navbar navbar-expand-lg navbar-light custom-navbar shadow-sm px-3">
  <div class="container-fluid">

    <!-- 左侧 LOGO / 首页 -->
    <a class="navbar-brand fw-bold text-primary" routerLink="/">📝 NoteApp</a>

    <!-- 折叠按钮（手机端显示） -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 菜单 -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active-link">登录</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="/notes" routerLinkActive="active-link">我的笔记</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link logout-link" (click)="logout()">登出</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/progress" routerLinkActive="active-link">about</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<!-- 页面内容显示 -->
<router-outlet></router-outlet>
