<p>html-component works!</p>
<div class="divclass2">
    div-Day01
</div>


<hr>
<div> div-Day2
    <!-- 内联样式  直接作用在标签上 只能对一个标签起作用 不利于样式与代码的分离-->
    <h1 style="color: bisque;">样式测试</h1>
    <h2 style="width: 200px;height: 100px;
    font-size: 15px;
    background-color:
    aquamarine;">样式测试</h2>
</div>

<h1>1111</h1>
<h1>1111</h1>
<h1>1111</h1>
<h1>1111</h1>
<h1>1111</h1>
<h1>1111</h1>
<h1>1111</h1>
<h1>1111</h1>
<h1>
    css 行内样式高于内部样式高于外部样式
</h1>

<p>
    段落
</p>

<p class="color"> 段落</p>

<p id="title"> 段落</p>
<p id="title"> 段落</p>
<p id="title"> 段落</p>
<p id="title"> 段落</p>
<p id="title"> 段落</p>
<p id="title"> 段落</p>
<p id="title"> 段落</p>

<p class="color"> 段落</p>
<p>列表项1</p>
<p>列表项2</p>
<p>列表项3</p>
<ul>
    <li>
        <p>列表项1</p>
    </li>
    <li>
        <p>列表项2</p>
    </li>
    <li>
        <p>列表项2</p>
    </li>
    <li>
        <p>列表项3</p>
    </li>
</ul>


<div class="divclass1">
    <p>p1</p>
    <p>p1</p>
    <p>p1</p>
    <p>p1</p>
    <p>p100</p>
</div>
    <ul>
        <li>p1</li>
        <li>p1</li>
        <li>p1</li>
        <li>p1</li>
    </ul>
