.divclass {
  border-width: 14px;
  border-style: solid;
  border-color: #000;
}

.divclass1 {
  border-width: 12px;
  border-style: solid;
  border-color: transparent;
  border-top-color: yellow;
  border-right-color: grey;
  border-bottom-color: green;
  border-left-color: blue;
}

.divclass2 {
  border-width: 10px;
  border-style: solid;
  /*两个方向的时候  上下 左右 颜色
    border-color: red green;
    */
  /*三个颜色的时候上左右 下 颜色
    border-color: yellow red grey; 
    */

  /*四个方向的时候  上右 下左颜色*/
  border-color: blue green yellow red;
}

/*css样式文件跟 html文件是分离的*/
h1 {
  border: 5px dashed purple;
  font-size: 10px;
  width: 150px;
  height: 50px;
}

p {
  font-size: 10px;
  width: 300px;
  height: 100px;
}

li p {
  color: brown;
}

.color {
  color: red;
}

#title {
  color: blue;
}

*{
  margin: 0px auto;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
.clear:after
{
  content: '';
  display: block;
  clear: both;
}
.daohang{
  width: 800px;
  border: 2px solid red;
}
.daohang .li1{
  float: left;
  width: 150px;
  border: 1px solid blue;
  position: relative;
}

.daohang .one
{
  display: none;
}

.li1:hover .one{
  display: block;
  position: absolute;
}

.banner{
  width: 800px;
  height: 400px;
  background-color: deeppink;
}





/* 第一个元素改变 */
ul li:first-child {
  color: green;
}

/* 最后一个元素改变 */
ul li:last-child {
  color: orange;
}

/* 第二个元素改变 */
ul li:nth-child(2) {
  color: purple;
}

.divclass1>p:first-child {
  color: pink;
  font-size: 20px;
  font-weight: 700;
}

.divclass1>p:nth-child(2) {
  font-size: 20px;
  color: lime;
}

.divclass1>p:last-child {
  font-size: 20px;
  color: cyan;
}

/* 外边距 */
.divclass3 {
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  /* 水平居中 */
  margin: auto;

}

/* 内边距 */
.divclass4 {
  border: 1px solid #999;
  background-color: azure;
  width: 500px;
  height: 500px;
  padding: 50px;
}


.div1 {
  width: 400px;
  height: 200px;
  background-color: red;
  /* 浮动的话脱离层级 */
  float: right;
}

.div2 {
  width: 300px;
  height: 100px;
  background-color: orange;
  float: left;
}

.div3 {
  width: 800px;
  height: 150px;
  background-color: green;
}


