.divclass
{
    border-width: 14px;
    border-style: solid;
    border-color: #000;
}

.divclass1
{
    border-width: 12px;
    border-style: solid;
    border-color: transparent;
    border-top-color: yellow;
    border-right-color: grey;
    border-bottom-color: green;
    border-left-color: blue;
}

.divclass2
{
    border-width: 10px;
    border-style: solid;
    /*两个方向的时候  上下 左右 颜色
    border-color: red green;
    */
    /*三个颜色的时候上左右 下 颜色
    border-color: yellow red grey; 
    */

    /*四个方向的时候  上右 下左颜色*/
    border-color: blue green yellow red;


}

