<!-- 🔹 Content Area -->
<div class="content-area">

  <!-- 🔍 搜索 + 新建 -->
  <div class="toolbar">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="搜索商品名称、编号..." [(ngModel)]="searchKeyword"
        (input)="applyFilter()" />
    </div>

    <!-- available 筛选 -->
    <div class="filter-wrapper">
      <select class="search-input select-like" [(ngModel)]="availabilityFilter" (change)="applyFilter()">
        <option value="all">全部</option>
        <option value="unavailable">停用商品</option>
        <option value="available">启用商品</option>
      </select>
    </div>
    <button class="add-btn" (click)="addProduct()">＋</button>
  </div>

  <!-- 🔹 商品卡片 -->
  <div class="product-card" *ngFor="let item of paginatedProducts" (click)="toggleSelect(item.id)">

    <div class="row">

      <!-- 左侧：图片 + 编号 -->
      <div class="left">
        <img *ngIf="item.imageUrl; else noImg" [src]="getThumbUrl(item.imageUrl)" class="thumb" />
        <ng-template #noImg>
          <div class="thumb no-img">无图</div>
        </ng-template>

        <span class="code">{{ item.code }}</span>
        <span class="code"> {{ item.available ? '🔄 启用': '⛔ 停用' }} </span>
      </div>

      <!-- 右侧：信息 -->
      <div class="right-info">

        <div class="info-row">
          <span>名称：</span><strong>{{ item.name }}</strong>
        </div>

        <div class="info-row double">
          <div class="left-side">
            <span>JAN：</span>{{ item.janId }}
          </div>
          <div class="right-side">
            <span>型号:</span>{{ item.modleName }}
          </div>
        </div>


        <div class="info-row double">
          <div class="left-side">
            <span>分类：</span>{{ item.categoryName }}
          </div>
          <div class="right-side">
            <span>颜色：</span>{{ item.colorName }}
          </div>
        </div>
        <div class="info-row double">
          <div class="left-side">
            <span>进货价：</span>¥{{ item.costPrice }}
          </div>
          <div class="right-side">
            <span>销售价：</span><strong class="highlight">¥{{ item.salePrice }}</strong>
          </div>
        </div>


      </div>

      <!-- 操作按钮 -->
      <div class="actions" *ngIf="selectedItemId === item.id">
        <button class="btn-edit" (click)="editProduct(item.id)">✏ 编辑</button>
        <button class="btn-edit" (click)="toggleStatus(item)">
          {{ item.available ? '⛔ 停用' : '🔄 启用' }}
        </button>

      </div>
    </div>
  </div>
</div>

<div class="stock-pagination">
  <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">
    « 上一页
  </button>

  <ng-container *ngFor="let item of paginationItems">
    <button *ngIf="item !== '...'" class="page-btn" [class.active]="item === currentPage" (click)="goToPage(item)">
      {{ item }}
    </button>

    <span *ngIf="item === '...'" class="dots">…</span>
  </ng-container>


  <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">
    下一页 »
  </button>

  <!-- 页数信息 -->
  <span class="page-info">
    共 {{ totalPages }} 页
  </span>

  <!-- 跳转 -->
  <span class="jump">
    到第
    <input type="number" min="1" [max]="totalPages" [(ngModel)]="jumpPage">
    页
    <button (click)="goToPage(jumpPage)">确定</button>
  </span>
</div>