<div class="page-section">
    <div class="toolbar">
        <div class="search-wrapper">
            <input type="text" class="search-input" placeholder="搜索商品名称、编号..." [(ngModel)]="keyword"
                (input)="applyFilter()" />
        </div>
        <select class="sort-select" [(ngModel)]="sortKey" (change)="applySort()">
            <option value="">排序方式</option>
            <option value="name-asc">编号 ↑</option>
            <option value="name-desc">编号 ↓</option>
            <option value="stock-asc">库存 ↑</option>
            <option value="stock-desc">库存 ↓</option>
            <option value="price-asc">卖价 ↑</option>
            <option value="price-desc">卖价 ↓</option>
        </select>
        <!-- 颜色筛选 -->
        <select class="filter-select" [(ngModel)]="selectedColor" (change)="applyFilter()">
            <option value="">全部颜色</option>
            <option *ngFor="let c of colorList" [value]="c.id">{{ c.name }}</option>
        </select>
    </div>

    <div class="product-card" *ngFor="let item of paginatedProducts" [ngClass]="{ 'out-of-stock': item.stock === 0 }"
        (click)="toggleSelect(item.code)">


        <div class="row">

            <!-- 左侧图片 + 编号 -->
            <div class="left">
                <img *ngIf="item.imageUrl; else noImg" [src]="item.imageUrl" class="thumb" />
                <ng-template #noImg>
                    <div class="thumb no-img">无图</div>
                </ng-template>

                <span class="code">{{ item.code }}</span>
                <span class="stock-tag" [ngClass]="getColor(item.stock)">{{ item.stock || 0 }} 件</span>
            </div>

            <!-- 中间信息 -->
            <div class="right-info">

                <div class="info-row">
                    <span>名称：</span><strong>{{ item.name }}</strong>
                </div>

                <!-- JAN + 型号 同一行 -->
                <div class="info-row double">
                    <div><span>JAN：</span>{{ item.janId }}</div>
                    <div><span>型号：</span>{{ item.modleName }}</div>
                </div>


                <!-- 分类 + 颜色 同一行 -->
                <div class="info-row double">
                    <div><span>分类：</span>{{ item.categoryName }}</div>
                    <div><span>颜色：</span>{{ item.colorName }}</div>
                </div>

                <!-- 进货价 + 出货价 同行 -->
                <div class="info-row double">
                    <div><span>进货价：</span>¥{{ item.costPrice }}</div>
                    <div><span>出货价：</span>¥{{ item.salePrice }}</div>
                </div>

            </div>


            <!-- 右侧按钮：只有选择时显示 -->
            <div class="actions" *ngIf="selectedItemId === item.code">
                <button class="btn-in" (click)="openStockModal(item, 'in')">➕ 入库</button>
                <button class="btn-out" (click)="openStockModal(item, 'out')">➖ 出库</button>
                <button class="btn-view" (click)="viewHistory(item.code); $event.stopPropagation()">📄 记录</button>
            </div>

        </div>
    </div>
    <div class="stock-pagination">
        <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">
            « 上一页
        </button>

        <ng-container *ngFor="let item of paginationItems">
            <button *ngIf="item !== '...'" class="page-btn" [class.active]="item === currentPage"
                (click)="goToPage(item)">
                {{ item }}
            </button>

            <span *ngIf="item === '...'" class="dots">…</span>
        </ng-container>


        <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">
            下一页 »
        </button>

        <!-- 页数信息 -->
        <span class="page-info">
            共 {{ totalPages }} 页
        </span>

        <!-- 跳转 -->
        <span class="jump">
            到第
            <input type="number" min="1" [max]="totalPages" [(ngModel)]="jumpPage">
            页
            <button (click)="goToPage(jumpPage)">确定</button>
        </span>
    </div>


</div>
<app-stock-adjust-modal *ngIf="showStockModal" [item]="currentItem" [actionType]="actionType"
    (submitted)="onStockSubmitted($event)" (closed)="onModalClose()"></app-stock-adjust-modal>